.container {
    border-radius: 8px;
    border: 5px solid black;
    margin: 5px;
    padding: 2px;
    background-color: skyblue;
    height: 50vh;
    width: 50vh;
}
#name {
    margin-top: 5px;
    align-self: center;
    height: 5vh;
}
#description {
    margin-left: 2px;
    margin-right: 2px;
    align-self: center;
    height: 10vh;
}
#picture {
    width: 50vh;
    height: 20vh;
    border-radius: 5px;
}